/* PAGES */
.home {
    background-color: var(--preto);
}
.atletas {
    background-color: var(--azul);
}
.torneios {
    background-color: var(--vermelho);
}
.contato {
    background-color: var(--cinza);
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 24px 16px;
    /*border-radius: 0 0 24px 24px;*/
    /*border-radius: 24px;*/
    background-color: white;
    align-items: center;
}
.header-nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 16px;
    justify-content: center;
}
.header-card {
    position: relative;
    white-space: nowrap;
	padding: clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem);
	border-radius:24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease; /* Necessário para a animação quando em hover */
}
.header-card:hover {
	/*box-shadow: 0 16px 40px rgba(0, 0, 0, 0.75); */
	transform: translateY(-6px);
}
.header-text {
    font-family: bebas neue, sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: white;
}
.header-card.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 70%;              /* começa exatamente no final do card */
    width: 100%;
    height: clamp(80px, 6vw, 180px);         /* quanto ele “entra” no main */

    background-color: inherit;

    z-index: 1;
}

/* FOOTER */
.footer {
    background-color: black;
    padding: 32px;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 120px;
    border-top-left-radius: 24px;
    border-top-right-radius:24px;
}
.footer-logo {
    display: grid;
    padding: 16px;
    text-align: center;
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
}
.footer-logo img {
    max-height: 100px;
}
.footer-info {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-columns: max-content;
    justify-content: center;
    font-family: montserrat;
    font-size: 18px;
    gap: 0 100px;
}

/* HERO */
.hero-container {
    background-image: url(/assets/galera.jpg);
    width: 100%; /*ocupa toda a largura da tela*/
    height: 100vh;
    background-size:cover; /*imagem prenche o div*/
    background-position: center;
    margin: 72px 0;
    border-radius: 24px;
}

.hero-atletas {
    margin: 72px 0;
    border-radius: 24px;
    width: 100%; /*ocupa toda a largura da tela*/
    height: 100vh;
    padding: 0 72px;
}

.hero-torneios {
    margin: 72px 0;
    border-radius: 24px;
    width: 100%; /*ocupa toda a largura da tela*/
    height: 100vh;
    padding: 0 72px;
}

/*CARROSSEL */
.carrossel-container {
    background-color: rgb(199, 199, 29);
    max-width: 100%;
    padding: 36px 72px 72px;
    justify-content: center;
    overflow-wrap: break-word;
    word-break: break-word;
    border-radius: 24px;
}

.texto {
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    text-align: justify;
    font-family: roboto;
    text-indent: 2vw;
}

/* TÍTULO PRINCIPAL */
.title {
	font-size: 400%;
    text-align: center;
    font-family: Bebas neue, montserrat;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin: clamp(5rem, 7vw, 10rem) clamp(5rem, 7vw, 10rem) clamp(3rem, 2vw, 10rem) clamp(3rem, 2vw, 10rem);
}
.subtitle {
    font-size: 300%;
    text-align: center;
    font-family: Bebas neue, montserrat;
    font-style: normal;
    font-weight: 400;
}

/* BOTÕES */
.arrow-left, .arrow-right{
    max-width: 50px;
    opacity: 30%;
    transition: opacity 0.3s ease;
}
.invert {
    transform:scaleX(-1)
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 100%;
}
.btn-return {
    background-color: transparent;
    border-radius: 50%;
    color: white;
    text-align: center;
    max-width: 60px;
    max-height: 60px;
}
.button {
	padding: clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem);
	border-radius:24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: var(--marrom);
}
.button:hover {
    transform: translateY(-6px);
}
.button-text {
        font-family: bebas neue, sans-serif;
    font-weight: 200;
    font-size: clamp(1rem, 2.5vw, 3rem);
    color: white;
}

/* TORNEIOS */
.card-torneio {
    width: 100%;
    max-height: 300px;
    border-radius: 24px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
}
.card-torneio:hover {
    transform: translateY(-6px);
}

.card-container-torneio {
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 24px;
    margin: 24px 72px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px
}

.torneio-text {
    display: none;
    color: white;
    text-align: justify;
    overflow: auto;
    text-indent: 2em;
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    font-family: roboto;
}

.torneio-token {
    max-width: 400px;
   /* transform: translateY(10%)*/
}

.torneio-token-clique {
   max-width: 800px;
}

.torneio-title {
    font-size: 400%;
    text-align: center;
    font-family: Bebas neue, montserrat;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin: 0 clamp(5rem, 7vw, 10rem) 0 clamp(3rem, 2vw, 10rem);
}

.card-torneio.card-torneio-clique {
    max-height: 500px;
    width: 100%;
    border-radius: 24px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
    padding-right: 48px;
}

.torneio-text-clique {
    display: block;
}

/* ATLETAS */
.card-container {
    grid-template-columns: 50% 50%;
    background-color: white;
    border-radius: 24px;
    margin: 24px 72px;
    padding: 24px;
    margin-bottom: 24px;
    gap: 24px
}
.card-atleta {
   /* padding: 24px;*/
    width: 100%;
    max-height: 100px;
    border-radius: 24px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
}
.card-atleta:hover {
    transform: translateY(-6px);
}
.card-atleta.card-atleta-clique {
    max-height: 500px;
    width: 100%;
    border-radius: 24px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
    padding-right: 48px;
}
.atleta-token {
    max-width: 250px;
    transform: translateY(23%)
}
.atleta-token.atleta-token-clique {
    max-width: 250px;
    transform: translateY(0);
}
.atleta-info {
    display: none;
    color: white;
    text-align: justify;
    overflow: auto;
    text-indent: 2em;
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    font-family: roboto;
    text-indent: 2vw;
}
.atleta-info-clique {
    display: block;
}
.atleta-title {
    font-size: 400%;
    text-align: center;
    font-family: Bebas neue, montserrat;
    font-style: normal;
    font-weight: 400;
    color: white;
    margin: 0 clamp(5rem, 7vw, 10rem) 0 clamp(3rem, 2vw, 10rem);
}

/* LEGENDA */
.legenda {
    background-color: rgb(135, 204, 232);
    border-radius: 24px;
    width: 100%;
    height: 200px;
}


/* TIMELINE */
* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 144px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 8px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border-radius: 8px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  right: -17px;
  background-image: url(/assets/ball.svg);
  background-color: white;
  border: 6px solid white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 32px;
  border: medium solid var(--vermelho);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--vermelho);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--azul);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--azul) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  padding: clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem) clamp(1rem, 1vw, 3rem) clamp(1rem, 2vw, 3rem);
    border-radius:12px 12px 24px 24px;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
    width: fit-content;
}
.content h2 {
    font-size: 200%;
    text-align: center;
    font-family: Bebas neue, montserrat;
    font-style: normal;
    font-weight: 400;
    color: white;
}
.content p {
    font-size: clamp(0.25rem, 1.25vw, 3rem);
    text-align: justify;
    font-family: roboto;
    text-indent: 2vw;
    color: white;
}
.content:hover {
    transform: translateY(-6px);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}